

{box-sizing: border-box}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-image: url(img/oboii.jpg);}
#News {background-image: url(img/oboi.jpg);}
#Contact {background-color: #FF00FF;}
#About {background-color: #9932CC;}

.button {
  border-radius: 4px;
  background-color: #FF69B4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-family: cursive;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button2 {
  border-radius: 6px;
  background-color: #FF69B4;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  font-family: cursive;
  padding: 15px;
  width: 80x;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

a {
    text-decoration: none; /* Убираю подчёркивание */
    color: white; /* меняю цвет */
   }



.vk {
	margin-inline: 10px;
	margin-bottom: -25px;
  width: 70px;

}
.text {
  color: #FFFFFF; /* Цвет текста */
  -webkit-text-stroke: 1px #000000; /* Толщина и цвет обводки */
  font-family: cursive;  
}